{% set domain = item.key %}

{# Normalize ipvars: prefer item.value.ipvars (list), fallback to single ipvar #}
{% set ipvars = [] %}
{% if item.value.ipvars is defined %}
  {% set ipvars = item.value.ipvars %}
{% elif item.value.ipvar is defined %}
  {% set ipvars = [ item.value.ipvar ] %}
{% endif %}

;
; {{ ansible_managed }}
;
$TTL {{ named_conf_soa_ttl }}
@		IN	SOA	{{ named_conf_soa }} (
				{{ named_serial }}	; Serial
				{{ named_conf_soa_refresh }}		; Refresh
				{{ named_conf_soa_retry }}		; Retry
				{{ named_conf_soa_expire }}		; Expire
				{{ named_conf_soa_ttl }}		; TTL
				)

{% for nameserver in groups['nameserver'] %}
		IN	NS	{{ nameserver }}.
{% endfor %}

$ORIGIN {{ domain }}.

{% if item.value.miscrecords is defined %}
{% for record in item.value.miscrecords %}
{{ record }}
{% endfor %}
{% endif %}

{# Emit A records for each host and each ipvar #}
{% if ipvars | length > 0 %}
{%   for host in groups['all'] %}
{%     for ipvar in ipvars %}
{%       if hostvars[host][ipvar] is defined %}
{{ hostvars[host]['inventory_hostname_short'] }}        IN      A       {{ hostvars[host][ipvar] }}
{%       endif %}
{%     endfor %}
{%   endfor %}
{% endif %}
