# {{ ansible_managed }}
[Unit]
Description=Egress shaping for download.ceph.com (rsyncd and throttled subnets)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/egress-shaper.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
