dir {{ cachefilesd_dir|default('/var/cache/fscache') }}
tag {{ cachefilesd_tag|default('mycache') }}
brun {{ cachefilesd_brun|default('10%') }}
bcull {{ cachefilesd_bcull|default('7%') }}
bstop {{ cachefilesd_bstop|default('3%') }}
frun {{ cachefilesd_frun|default('10%') }}
fcull {{ cachefilesd_fcull|default('7%') }}
fstop {{ cachefilesd_fstop|default('3%') }}
secctx {{ cachefilesd_secctx|default('system_u:system_r:cachefiles_kernel_t:s0') }}
