#
# {{ ansible_managed }}
#

[{{ item.key }}]
{% for k, v in item.value.items() | sort %}
{% if k == "baseurls" %}
{%   for url in v %}
baseurl={{ url }}
{%   endfor %}
{% else %}
{{ k }}={{ v }}
{% endif %}
{% endfor %}
