---
# Builds all maps you rely on: by FQDN, by short, ids, macs, etc.

# FQDN -> object and FQDN -> macs
- name: Build maps keyed by FQDN
  set_fact:
    maas_by_hostname: >-
      {{
        maas_by_hostname | default({})
        | combine({ item.hostname: item }, recursive=True)
      }}
    maas_host_to_macs: >-
      {{
        maas_host_to_macs | default({})
        | combine({
            item.hostname: (
              (item.interface_set | map(attribute='mac_address') | list)
              if (item.interface_set is defined)
              else []
            )
          }, recursive=True)
      }}
    maas_host_to_ifaces: >-
      {{
        maas_host_to_ifaces | default({})
        | combine({
            item.hostname: (item.interface_set | default([]))
          }, recursive=True)
      }}
    maas_host_to_status: >-
      {{
        maas_host_to_status | default({})
        | combine({ item.hostname: (item.status_name) }, recursive=True)
      }}
  loop: "{{ maas_nodes_list }}"
  loop_control:
    label: "{{ item.hostname | default('NO-HOSTNAME') }}"
  when: item.hostname is defined

# Short names list (dedup check can use this)
# Build short name list (from MAAS payload, no regex needed)
- name: Build short name list
  set_fact:
    _short_names: >-
      {{
        (maas_by_hostname | default({}))
        | dict2items
        | map(attribute='value.hostname')
        | reject('equalto', None)
        | list
      }}

# short -> id
- name: Build maas_short_to_id
  set_fact:
    maas_short_to_id: >-
      {{
        dict(
          (
            (maas_by_hostname | default({}))
            | dict2items
            | map(attribute='value.hostname')
            | reject('equalto', None)
          )
          | zip(
              (maas_by_hostname | default({}))
              | dict2items
              | map(attribute='value.system_id')
            )
        )
      }}

# short -> object
- name: Build maas_by_short
  set_fact:
    maas_by_short: >-
      {{
        dict(
          (
            (maas_by_hostname | default({}))
            | dict2items
            | map(attribute='value.hostname')
            | reject('equalto', None)
          )
          | zip(
              (maas_by_hostname | default({}))
              | dict2items
              | map(attribute='value')
            )
        )
      }}

# short -> ansible inventory_host
- name: Build inventory_by_short
  set_fact:
    inventory_by_short: >-
      {{
        (inventory_by_short | default({}))
        | combine({ (item.split('.')[0]): item })
      }}
  loop: "{{ groups['testnodes'] }}"
