---
# Builds all maps you rely on: by FQDN, by short, ids, macs, etc.

# FQDN -> object and FQDN -> macs
- name: Build maps keyed by FQDN
  set_fact:
    maas_by_hostname: >-
      {{
        maas_by_hostname | default({})
        | combine({ item.hostname: item }, recursive=True)
      }}
    maas_host_to_macs: >-
      {{
        maas_host_to_macs | default({})
        | combine({
            item.hostname: (
              (item.interface_set | map(attribute='mac_address') | list)
              if (item.interface_set is defined)
              else []
            )
          }, recursive=True)
      }}
  loop: "{{ maas_nodes_list }}"
  loop_control:
    label: "{{ item.hostname | default('NO-HOSTNAME') }}"
  when: item.hostname is defined

# Short names list (dedup check can use this)
- name: Build short name list
  set_fact:
    _short_names: "{{ (maas_by_hostname.keys() | list) | map('regex_replace', '\\..*$', '') | list }}"

# short -> id
- name: Build maas_short_to_id
  set_fact:
    maas_short_to_id: >-
      {{
        dict(
          _with_names
          | map(attribute='hostname')
          | map('regex_replace', '\\..*$', '')
          | zip(_with_names | map(attribute='system_id'))
        )
      }}

# short -> object
- name: Build maas_by_short
  set_fact:
    maas_by_short: >-
      {{
        dict(
          _with_names
          | map(attribute='hostname')
          | map('regex_replace', '\\..*$', '')
          | zip(_with_names)
        )
      }}
