---
- include_tasks: ../_auth_header.yml

- name: PUT vlan on parent {{ parent_id }} on {{ _inv_host_resolved }}
  uri:
    url: "{{ _maas_api }}/nodes/{{ system_id }}/interfaces/{{ parent_id }}/"
    method: PUT
    headers:
      Authorization: "{{ maas_auth_header }}"
      Accept: application/json
      Content-Type: application/json
    body_format: json
    body:
      vlan: "{{ _target_native_vlan_id | int }}"
    status_code: [200, 201]
  register: _put_parent_vlan
  changed_when: _put_parent_vlan.status in [200, 201]
