---
#- include_tasks: ../_resolve_host.yml

- include_tasks: _auth_header.yml

# When creating machines for the first time, MaaS automatically tries to commission them
# upon creation.  In order to do so, it needs to be able to control them over IPMI.
# So the logic here is if IPMI credentials are set, ship them in the create payload.
# Otherwise, create the machine in a Deployed state so MaaS doesn't try to commission it.

- name: Build machine create body
  set_fact:
    maas_create_body: >-
      {{
        dict({
          'hostname': host,
          'architecture': desired_arch,
          'mac_addresses': mac_addresses
        })
        | combine(desired_domain is defined and {'domain': desired_domain} or {})
        | combine(
            (
              (power_user is defined)
              and (power_pass is defined)
              and (hostvars[inv_host].ipmi is defined)
            )
            and {
              'deployed': false,
              'commission': false,
              'power_type': 'ipmi',
              'power_parameters_power_address': hostvars[inv_host].ipmi,
              'power_parameters_power_user': power_user,
              'power_parameters_power_pass': power_pass,
              'power_parameters_power_boot_type': (maas_power_boot_type | default('efi'))
            }
            or {
              'deployed': true
            }
          )
      }}

- name: machines create body for {{ host }}
  debug:
    var: maas_create_body

- name: Create machine in MAAS
  uri:
    url: "{{ _maas_api }}/machines/"
    method: POST
    headers:
      Authorization: "{{ maas_auth_header }}"
      Content-Type: application/x-www-form-urlencoded
      Accept: application/json
    body_format: form-urlencoded
    body: "{{ maas_create_body }}"
    status_code: 200
  register: create_result
  changed_when: create_result.status in [200, 201]
  notify: "Rebuild MAAS machine indexes"
