# {{ ansible_managed }}
[Unit]
Description=DDNS HTTP update service.

[Service]
Type=simple
User={{ nsupdate_web_user }}
Group={{ nsupdate_web_user }}
ExecStart=/usr/bin/python3 {{ repo_path }}/ddns-server.py {{ nsupdate_web_args }}

[Install]
WantedBy=multi-user.target
