---
- name: Setup local repo files.
  import_tasks: apt/repos.yml
  tags:
    - repos

# http://tracker.ceph.com/issues/15090
# We don't know why it's happening, but something is corrupting the
# apt-cache.  Let's try just blasting it each time.
- name: Blast the apt cache.
  command:
    sudo apt-get clean

- name: Update apt cache.
  apt:
    update_cache: yes
  # try for 2 minutes before failing
  retries: 24
  delay: 5
  tags:
    - repos
    - packages

- name: Perform package related tasks.
  import_tasks: apt/packages.yml
  tags:
    - packages

- name: Get root mount info (source, fstype, options)
  command: findmnt -n -o SOURCE,FSTYPE,OPTIONS /
  register: root_findmnt
  changed_when: false

- name: Parse root mount info
  set_fact:
    root_src: "{{ root_findmnt.stdout.split()[0] }}"
    root_fstype: "{{ root_findmnt.stdout.split()[1] }}"
    root_opts: "{{ root_findmnt.stdout.split()[2] }}"

- name: Ensure user_xattr is present for / in fstab (ext2/3/4 only)
  lineinfile:
    path: /etc/fstab
    backup: yes
    backrefs: yes
    regexp: '^(?!#)(\S+\s+/\s+\S+\s+)(\S+)(\s+.*)$'
    line: '\1\2,user_xattr\3'
  register: fstab_root_xattr
  when:
    - modify_fstab | bool
    - not containerized_node
    - root_fstype is match('^ext[234]$')
    - root_opts is not search('(^|,)user_xattr(,|$)')

- name: Remount / with user_xattr (this boot)
  mount:
    path: /
    src: "{{ root_src }}"
    fstype: "{{ root_fstype }}"
    opts: "{{ root_opts }},user_xattr"
    state: remounted
  when:
    - fstab_root_xattr is defined
    - fstab_root_xattr is changed

- name: Ensure fuse, kvm and disk groups exist.
  group:
    name: "{{ item }}"
    state: present
  with_items:
  - fuse
  - kvm
  - disk

- name: Upload /etc/fuse.conf.
  template:
    src: fuse.conf
    dest: /etc/fuse.conf
    owner: root
    group: fuse
    mode: 0644

- name: Add teuthology user to groups fuse, kvm and disk.
  user:
    name: "{{ teuthology_user }}"
    # group sets the primary group, while groups just adds
    # the user to the specified group or groups.
    groups: fuse,kvm,disk
    append: yes

- name: Stop apache2
  service:
    name: apache2
    state: stopped
  # There's an issue with ansible<=2.9 and our custom built kernels (5.8 as of this commit) where the service and systemd modules don't have backwards compatibility with init scripts
  ignore_errors: "{{ 'ceph' in ansible_kernel }}"
  when:
    - not containerized_node
