---
# loading vars
- include: vars.yml
  tags:
    - vars
    - always

- include: user.yml
  tags:
    - user

- name: Set a high max open files limit for the teuthology user.
  template:
    src: security_limits.conf
    dest: "/etc/security/limits.d/{{ teuthology_user }}.conf"
    owner: root
    group: root
    mode: 0755

- name: Set the hostname
  include: set_hostname.yml
  when: lab_domain != ""
  tags:
    - hostname

- include: zap_disks.yml
  tags:
    - zap

- name: partition drives, if any are requested
  include: drive_partitioning.yml
  when: drive_to_partition is defined
  tags:
    - partition

- name: configure ssh
  include: ssh.yml
  tags:
    - ssh

- name: configure things specific to yum systems
  include: yum_systems.yml
  when: ansible_pkg_mgr == "yum"

- name: configure things specific to apt systems
  include: apt_systems.yml
  when: ansible_pkg_mgr == "apt"

- name: configure centos specific things
  include: setup-centos.yml
  when: ansible_distribution == "CentOS"

- name: configure red hat specific things
  include: setup-redhat.yml
  when: ansible_distribution == 'RedHat'

- name: configure fedora specific things
  include: setup-fedora.yml
  when: ansible_distribution == "Fedora"

- name: configure ubuntu specific things
  include: setup-ubuntu.yml
  when: ansible_distribution == "Ubuntu"

- name: configure ubuntu non-aarch64 specific things
  include: setup-ubuntu-non-aarch64.yml
  when:
    ansible_distribution == "Ubuntu" and
    ansible_architecture != "aarch64"

- name: configure debian specific things
  include: setup-debian.yml
  when: ansible_distribution == "Debian"

# Install and configure cpan and Amazon::S3
- include: cpan.yml
  tags:
    - cpan

# configure ntp
- include: ntp.yml
  tags:
    - ntp-client

- name: configure pip to use our mirror
  include: pip.yml
  tags:
    - pip

- name: include resolv.conf setup
  include: resolvconf.yml
  tags:
    - resolvconf

# Touch a file to indicate we are done. This is something chef did;
# teuthology.task.internal.vm_setup() expects it.
- name: Touch /ceph-qa-ready
  file:
      path: /ceph-qa-ready
      state: touch
