---
- name: Ensure the sudo group exists.
  group:
    name: sudo
    state: present

- name: Ensure the teuthology_user group exists.
  group:
    name: "{{ teuthology_user }}"
    state: present

- name: Create the teuthology user.
  user:
    name: "{{ teuthology_user }}"
    # apparently some ceph tests fail without this uid
    # https://github.com/ceph/ceph-qa-chef/commit/5678cc3893fd1cc291254e4d1abe6705e6a9bbb0
    uid: 1000
    group: "{{ teuthology_user }}"
    groups: sudo
    shell: /bin/bash
    state: present
  # If we're currently running as teuthology_user, we won't be able to modify
  # the account
  when: teuthology_user != ansible_user
  register: teuthology_user_existence

# If the teuthology_user was just created, delete its password
- name: Delete the teuthology users password.
  command: "passwd -d {{ teuthology_user }}"
  when: teuthology_user_existence is defined and
        teuthology_user_existence|changed

- name: Add a user for xfstests to test user quotas.
  user:
    name: "{{ xfstests_user }}"
    uid: 10101
    state: present
