{% for host in groups['cobbler_managed'] %}
"{% if hostvars[host]['mac'] is defined %}{{ hostvars[host]['mac'] }}{% endif %}","{{ hostvars[host]['inventory_hostname_short'] }}","","","1","0","","","fog","","","","","","","","","{{ hostvars[host]['kernel_options'] }}","","{{ hostvars[host]['fog_install_drive']|default('/dev/sda') }}","","","","","0000-00-00 00:00:00","110","","",""
{% endfor %}
