---
- name: Include secrets
  include_vars: "{{ item }}"
  no_log: true
  with_first_found:
    - "{{ secrets_path | mandatory }}/nameserver.yml"
    - empty.yml
  tags:
    - always

- name: Import distro-specific vars
  include_vars: "{{ ansible_os_family }}.yml"
  tags:
    - always

# Install and update system packages
- import_tasks: packages.yml
  tags:
    - packages

- name: Gather facts after installing packages
  service_facts:
  tags:
    - always

- name: Determine which time service exists (chrony/ntp/timesyncd)
  set_fact:
    time_services: "{{ ansible_facts.services.keys() | list }}"
    timesyncd_service_name: >-
      {{ 'systemd-timesyncd' if 'systemd-timesyncd.service' in ansible_facts.services else '' }}
    chrony_service_name: >-
      {{
        'chronyd' if 'chronyd.service' in ansible_facts.services
        else ('chrony' if 'chrony.service' in ansible_facts.services else '')
      }}
    ntp_service_name: >-
      {{
        'ntpd' if 'ntpd.service' in ansible_facts.services
        else ('ntp' if 'ntp.service' in ansible_facts.services else '')
      }}
  tags:
    - always

- name: Set time_service_name
  set_fact:
    time_service_name: >-
      {{
        chrony_service_name
        if chrony_service_name|length > 0
        else (
          ntp_service_name
          if ntp_service_name|length > 0
          else timesyncd_service_name
        )
      }}
  tags:
    - always

- name: "Enable and start {{ time_service_name }}"
  service:
    name: "{{ time_service_name }}"
    state: started
    enabled: yes
  tags:
    - always

# DDNS updates fail to create or edit jnl files without this
- name: Ensure permissions set for "{{ named_conf_zones_path }}"
  file:
    path: "{{ named_conf_zones_path }}"
    mode: '0700'
    state: directory
    owner: "{{ bind_user }}"
    group: "{{ bind_group }}"
  tags:
    - always

# Configure firewalld
- import_tasks: firewall.yml
  when: ansible_os_family != "Debian"
  tags:
    - firewall

# Configure BIND
- import_tasks: config.yml
  tags:
    - config

# Compile and write zone files
- import_tasks: records.yml
  tags:
    - records
  when: (named_conf_slave is undefined) or
        (named_conf_slave is defined and named_conf_slave == false)

# The tasks below are last so the grep output is near the end of the play
- set_fact:
    have_collisions: true
  when:
    - (named_conf_slave is undefined) or (named_conf_slave is defined and named_conf_slave == false)
    - nameserver_collisions_grep is defined and nameserver_collisions_grep.stdout | length > 0
  tags:
    - records

- name: Print IP collisions
  debug:
    msg:
      - "WARNING: The following IP addresses have multiple records in DNS.  Check for IP collisions!"
      - "Either re-run this playbook with '-vvv' or `grep -r -w {{ inventory_dir }}/{{ lab_name }} {{ inventory_dir }}/group_vars/nameserver.yml` for the IPs below."
      - "{{ nameserver_collisions_grep.stdout_lines }}"
  when: have_collisions is defined and have_collisions|bool
  tags:
    - records

- name: grep duplicated IPs in ansible inventory
  local_action:
    module: command
    cmd: "grep -r -w {{ item }} {{ inventory_dir }}/{{ lab_name }} {{ inventory_dir }}/group_vars/nameserver.yml"
  become: false
  connection: local
  with_items: "{{ nameserver_collisions_grep.stdout_lines }}"
  when: have_collisions is defined and have_collisions|bool
  tags:
    - records
