{% set site = reverse_proxy_site_catalog[item] %}
# {{ ansible_managed }}
# Anubis instance for {{ item }} (anubis@{{ item }}.service)
BIND=127.0.0.1:{{ site.anubis.port }}
BIND_NETWORK=tcp
TARGET={{ site.anubis.scheme }}://{{ site.upstream }}
METRICS_BIND={{ reverse_proxy_internal_ip }}:{{ site.anubis.metrics_port }}
METRICS_BIND_NETWORK=tcp
POLICY_FNAME=/etc/anubis/{{ site.anubis.policy | default('botPolicies.yaml') }}
DIFFICULTY=4
SERVE_ROBOTS_TXT=0
{% if site.anubis.cacert | default(false) %}
SSL_CERT_FILE=/usr/local/share/ca-certificates/openshift-ingress-ca.pem
{% endif %}
COOKIE_EXPIRATION_TIME=720h
ED25519_PRIVATE_KEY_HEX={{ anubis_ed25519_keys[item] }}
