---
teuthology_scheduler_user: teuthology
teuthology_execution_user: teuthworker

teuthology_users:
  # for scheduling tests
  - "{{ teuthology_scheduler_user }}"
  # for executing tests
  - "{{ teuthology_execution_user }}"

teuthology_repo: https://github.com/ceph/teuthology.git
teuthology_branch: "main"
teuthology_yaml_extra: ""
teuthology_ceph_git_base_url: "git://git.ceph.com/"
archive_base: "/home/{{ teuthology_execution_user }}/archive"

remote_crontab_url: "https://raw.githubusercontent.com/ceph/ceph/main/qa/crontab/teuthology-cronjobs"
