module nrpe 1.0;

require {
	type fsadm_exec_t;
	type nrpe_t;
	type hwdata_t;
	class file { read getattr open };
}

#============= nrpe_t ==============
allow nrpe_t fsadm_exec_t:file getattr;
allow nrpe_t hwdata_t:file { read getattr open };
