{% for item in dhcp_global_options %}
{% for key, value in item.items() %}
{{ key }} {{ value }};
{% endfor %}
{% endfor %}

{% for key, value in dhcp_subnets.items() %}
include "/etc/dhcp/dhcpd.{{ key }}.conf";
{% endfor %}
