---
- name: Get the current timezone
  shell: cat /etc/timezone
  register: current_tz
  changed_when: false
  tags:
    - timezone

- name: Set the timezone for apt systems
  command: timedatectl set-timezone {{ timezone }}
  when:
    - current_tz.stdout|default("") != timezone
    - ansible_distribution_major_version|int >= 20
  tags:
    - timezone

- name: Set the timezone in /etc/timezone
  copy:
    content: "{{ timezone }}"
    dest: /etc/timezone
    owner: root
    group: root
    mode: 0644
  # Default is used below to avoid breaking check mode
  when:
    - current_tz.stdout|default("") != timezone
    - ansible_distribution_major_version|int < 20
  register: etc_timezone
  tags:
    - timezone

- name: Inform the OS of the new timezone
  command: dpkg-reconfigure --frontend noninteractive tzdata
  when:
    - etc_timezone is changed
    - ansible_distribution_major_version|int < 20
  tags:
    - timezone

- name: Mask sleep units
  systemd:
    name: "{{ item }}"
    state: stopped
    masked: yes
  with_items:
    - sleep.target
    - suspend.target
    - hibernate.target
    - hybrid-sleep.target
  when:
    - ansible_distribution_major_version|int >= 20
    - not containerized_node

- name: Install util-linux-extra for hwclock command
  ansible.builtin.apt:
    name: util-linux-extra
    state: present
  when:
    - ansible_distribution_major_version|int >= 24

# Outbound port 80 traffic is blocked in Sepia
- name: Find apt source list files
  ansible.builtin.find:
    paths:
      - /etc/apt
      - /etc/apt/sources.list.d
    patterns:
      - sources.list
      - "*.list"
    file_type: file
  register: apt_source_files

- name: Replace http with https in apt sources
  ansible.builtin.replace:
    path: "{{ item.path }}"
    regexp: '(^\s*deb(?:-src)?\s+)(http://)'
    replace: '\1https://'
    backup: yes
  loop: "{{ apt_source_files.files }}"
  notify: apt update
