---

- name: Log the OS name, version and release
  debug: msg="Host {{ inventory_hostname }} is running {{ ansible_distribution }} {{ ansible_distribution_version }} ({{ ansible_distribution_release }})"

# loading major version specific vars
- name: Including major version specific variables.
  include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_distribution | lower }}_{{ ansible_distribution_major_version }}.yml"
    - empty.yml
  tags:
    - vars
    # We need these vars for the entitlements tag to work
    - entitlements

# configure things specific to yum systems
- include: yum_systems.yml
  when: ansible_pkg_mgr == "yum"

# configure Kerberos
- include: kerberos.yml
  tags:
    - kerberos
