metrics:
  wal_directory: /var/lib/grafana-agent/wal
  global:
    scrape_interval: {{ scrape_interval_global | default('60s') }}

  configs:
    - name: default
      scrape_configs:
        - job_name: node
          static_configs:
            - targets: ['localhost:9100']
          relabel_configs:
            - target_label: instance
              replacement: "{{ ansible_fqdn }}:9100"
            - target_label: nodename
              replacement: "{{ ansible_fqdn }}"

      remote_write:
        - url: "{{ agent_mimir_url }}"
          tls_config:
            insecure_skip_verify: true
{% if mimir_username is defined and mimir_password is defined %}
          basic_auth:
            username: "{{ mimir_username }}"
            password: "{{ mimir_password }}"
{% endif %}
