---
# Check for and remove custom repos.
# http://tracker.ceph.com/issues/12794
- name: Check for custom repos
  shell: "ls -1 /etc/apt/sources.list.d/"
  register: custom_repos
  changed_when: false

- name: Remove custom repos
  file: path=/etc/apt/sources.list.d/{{ item }} state=absent
  with_items: custom_repos.stdout_lines
  # Ignore changes here because we will be removing repos that we end up re-adding later
  changed_when: false

- name: Set apt preferences
  template:
    dest: "/etc/apt/preferences.d/ceph.pref"
    src: "../../templates/apt/ceph.pref"
    owner: root
    group: root
    mode: 0644
  register: apt_prefs

- name: Add sources list
  template:
    dest: /etc/apt/sources.list
    src: "../../templates/apt/sources.list.{{ ansible_distribution_release | lower }}"
    owner: root
    group: root
    mode: 0644
  register: sources

- name: Install apt keys
  apt_key:
    url: "{{ item }}"
    state: present
  with_items:
    - "http://{{ git_mirror_host }}/autobuild.asc"
    - "http://{{ git_mirror_host }}/release.asc"
  # try for 2 minutes before failing
  retries: 24
  delay: 5

# required for apt_repository
- name: Install python-apt
  apt:
    name: python-apt
    state: present

- name: Add local apt repos.
  apt_repository:
    repo: "{{ item }}"
    state: present
    update_cache: no 
    mode: 0644
  with_items: apt_repos|list + common_apt_repos|list
  register: local_apt_repos
